* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-bar {
    background-color: bisque;
    color: black;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.menu-bar.active {
    height: 300px;
}

.top-container {
    width: 100%;
    height: 80vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 10rem 10rem;
}

.top-container .top-container__nav.nav-bar {
    width: 100%;
    height: 5rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar__toggle {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-bar__toggle span:after,
.nav-bar__toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -15px;
}

.nav-bar__toggle span:after {
    top: 15px;
}

.nav-bar__toggle span {
    position: relative;
    display: block;
}

.nav-bar__toggle span,
.nav-bar__toggle span:after,
.nav-bar__toggle span:before {
    width: 100%;
    height: 5px;
    background-color: white;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

.nav-bar__toggle.active span {
    background-color: transparent;
}

.nav-bar__toggle.active span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

.nav-bar__toggle.active span:before {
    transform: rotate(45deg) translate(14px, 14px);
}