.top-container {
    background-image: url('../images/top.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 17rem;
}

.top-container .top-container__content .content__box{
    width: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-container .top-container__content .content__box:after{
    content: " ";
    border: solid 1px #0093cb;
    width: 5rem;
    margin: 10px auto;
}

.top-container .top-container__content .content__box .content__box__title{
    font-size: 3rem;
    letter-spacing: 5px;
    padding: 5px 5px;
    text-transform: uppercase;
    text-align: center;
}

.top-container .top-container__content .content__box .content__box__sub_title{
    font-size: 1.5rem;
    letter-spacing: 3px;
    padding: 5px 5px;
    text-transform: uppercase;
    transition: all 1s;
    animation: fadeInUp 1s both;
    text-align: center;
}

.top-container .contact-btn{
    margin-top: 8rem;
    background-color: transparent;
    padding: 1.5rem 5rem;
    border: 2px solid #fff;
    letter-spacing: 0.15rem;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
    animation: fadeInUp 1s both;
}
.top-container .contact-btn:hover{
    border: 2px solid #0093cb;
}


.main-container {
    width: 100%;
    height: auto;
    background-color: rgb(230, 230, 235);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3rem;
}

.main-container .portfolio-container {
    margin-top: -5rem;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-container .main-container__portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 15rem;
    transition: all 0.5s;
    text-decoration: none;
    color: transparent;
}
.main-container .main-container__portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 15rem;
    transition: all 0.5s;
    text-decoration: none;
    color: transparent;
}

.main-container .main-container__portfolio:nth-child(1) {
    animation: fadeInDown 1s both;
    background-image: url('../images/project1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container .main-container__portfolio:nth-child(2) {
    animation: fadeInDown 1.5s both;
    background-image: url('../images/project2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container .main-container__portfolio:nth-child(3) {
    animation: fadeInDown 2s both;
    background-image: url('../images/project3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container .main-container__portfolio:nth-child(4) {
    animation: fadeInDown 2.5s both;
    background-image: url('../images/project4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container .main-container__portfolio:nth-child(5) {
    animation: fadeInDown 3s both;
    background-image: url('../images/project5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container .main-container__portfolio:nth-child(6) {
    animation: fadeInDown 3.5s both;
    background-image: url('../images/project6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container .main-container__portfolio .portfolio__title:after{
    display: block;
    width: 50px;
    content: " ";
    margin: 15px auto;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
}

.main-container .main-container__portfolio:hover {
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
    color: white;
}

.main-container .main-container__portfolio:hover .portfolio__title:after{
    border-color: white;
}


@media screen and (max-width: 930px) {
    .main-container .portfolio-container {
        width: 100%;
    }

    .main-container .portfolio-container .main-container__portfolio{
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: color;
        color: white;
        margin-bottom: 0.2rem;
    }
}